e/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* your code */
body, .city-list{
  background-color: #1e3932;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav > h1{
  color: white;
}

header{
  display: flex;
  justify-content: center;
}


label {
  background-color: #d4e9e2;
  padding: 10px;
  width: 55%;
  margin-bottom: 50px;
}

.city-list{
  border: solid #d4e9e2; 
  margin: auto;
  padding: 8px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.city-list .city-item{
  background-color: #00754a;
  padding: 2px;
  margin: 10px;
}